<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
 <servlet-name>Register Servlet</servlet-name>
 <servlet-class>nl.hu.sp.lesson7.Les7.RegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Register Servlet</servlet-name>
 <url-pattern>/RegisterServlet.do</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>Login Servlet</servlet-name>
 <servlet-class>nl.hu.sp.lesson7.Les7.LoginServlet</servlet-class>
 <init-param>
 <param-name>defaultUsername</param-name>
 <param-value>admin</param-value>
 </init-param>
 <init-param>
 <param-name>defaultPassword</param-name>
 <param-value>adminpass</param-value>
 </init-param>
 </servlet>
 <servlet-mapping>
 <servlet-name>Login Servlet</servlet-name>
 <url-pattern>/LoginServlet.do</url-pattern>
 </servlet-mapping>
 
   <servlet>
 <servlet-name>Logout Servlet</servlet-name>
 <servlet-class>nl.hu.sp.lesson7.Les7.LogoutServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Logout Servlet</servlet-name>
 <url-pattern>/LogoutServlet.do</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>Post Servlet</servlet-name>
 <servlet-class>nl.hu.sp.lesson7.Les7.PostServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Post Servlet</servlet-name>
 <url-pattern>/PostServlet.do</url-pattern>
 </servlet-mapping>
 
 <listener>
 <listener-class>nl.hu.sp.lesson7.Les7.MyServletContextListener</listener-class>
 </listener>
 
 <filter>
 <filter-name>Post Filter</filter-name>
 <filter-class>nl.hu.sp.lesson7.Les7.PostFilter</filter-class>
 </filter>
 
 <filter-mapping>
 <filter-name>Post Filter</filter-name>
<servlet-name>Post Servlet</servlet-name>
 </filter-mapping>
 
</web-app>